.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-container img {
  width: 100%;
  max-width: 500px;
}

.login-container section.form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}
.login-container section.form img {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.login-container section.form form {
  margin-top: 100px;
}
.login-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
@media only screen and (max-width: 800px) {
  .login-container {
    display: block;
  }
  .login-container img {
    display: block;
    margin: 0 auto;
  }
  .login-container section.form {
    text-align: center;
  }
}
